params {
    version = "0.0.1"
    outdir  = "$baseDir/results"
}

profiles {

    test {
        params {
            snv_file  = "$baseDir/data/test_data/random_snvs.txt"
            bam_file  = "$baseDir/data/test_data/testregion_realign.bam"
            ref_file  = "$baseDir/data/test_data/Homo_sapiens_chr22_assembly19.fasta"
            cnv_list  = "$baseDir/data/test_data/test_cnvlist.txt.gz"
            bam_index = "$baseDir/data/test_data/testregion_realign.bam.bai"
        }
    }

    slurm {
        process {
            executor       = "slurm"
            queue          = "htc"
            time           = "30m"
            memory         = "2 GB"
            clusterOptions = "--account=scw1574"
        }
    }

    docker_conf {
        docker.enabled = true
        process.container = "erikwaskiewicz/ctdna-base:latest"
    }

    singularity {
        singularity {
            enabled = true
            cacheDir = "/home/x.e.w.01/singularity_images"
        }
        process.container = "erikwaskiewicz/ctdna-base:latest"
    }

}


timeline {
    enabled = false
    file = "$baseDir/data/pipeline_info/timeline.html"
}
report {
    enabled = false
    file = "$baseDir/data/pipeline_info/report.html"
}
trace {
    enabled = false
    file = "$baseDir/data/pipeline_info/trace.txt"
}
dag {
    enabled = false
    file = "$baseDir/data/pipeline_info/dag.svg"
}
